html,body{
    min-height: 100%;
    min-weight: 100%;
    margin: 0;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}



 #first {
     display: inline-block;
     background-color: red;
 }

#second {
    display: inline-block;
    background-color: green;
}

#third {
    display: block;
    background-color: beige;
}

#fourth {
    display: block;
    background-color: orange;
}
