{% extends 'base.html.twig' %}

{% block body %}

{% endblock %}

{% block stylesheets %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <h1>Welcome to Product Range application</h1>
                <button type="button" class="btn btn-info btn-lg active">Users</button>
                <button type="button" class="btn btn-info btn-lg active">Admin</button>
            </div>
        </div>
    </div>
{% endblock %}
