<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello test</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{  asset('assets/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}"/>
    {% endblock %}
</head>
<body>
    {% block body %}

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <strong><h3>First</h3></strong><br/>I’ve created a coding game called Flexbox Froggy to help you brush up on flexbox. If you haven’t heard yet, flexbox is a powerful new CSS module for positioning that’s available in browsers today, and that will debut in the next major update to Bootstrap. So you’ll want to get familiar with it asap.

                    See if you can beat Flexbox Froggy! And for an extra challenge, try its spiritual sequel created by Channing Allen, Flexbox Defense.
                </div>

                <div class="col-md-4">
                    <strong><h3>Secong</h3></strong><br/>I’ve created a coding game called Flexbox Froggy to help you brush up on flexbox. If you haven’t heard yet, flexbox is a powerful new CSS module for positioning that’s available in browsers today, and that will debut in the next major update to Bootstrap. So you’ll want to get familiar with it asap.

                    See if you can beat Flexbox Froggy! And for an extra challenge, try its spiritual sequel created by Channing Allen, Flexbox Defense.
                </div>

                <div class="col-md-4">
                    <strong><h3>Third</h3></strong><br/>I’ve created a coding game called Flexbox Froggy to help you brush up on flexbox. If you haven’t heard yet, flexbox is a powerful new CSS module for positioning that’s available in browsers today, and that will debut in the next major update to Bootstrap. So you’ll want to get familiar with it asap.

                    See if you can beat Flexbox Froggy! And for an extra challenge, try its spiritual sequel created by Channing Allen, Flexbox Defense.
                </div>
            </div>
        </div>

    {% endblock %}
    {% block javascript %}
        <script src="{{ asset('assets/jQuery-3.1.1/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
    {% endblock %}

</body>
</html>