<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello test</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{  asset('assets/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}"/>
    {% endblock %}
</head>
<body>
    {% block body %}

        <div class="container">
            <div class="jumbotron">
                <h2>
                    Hello and welcome to bootstrap!!!
                </h2>
            </div>
            <div class="container">
                <form action="" method="post" role="form">
                    <legend>Form Title</legend>

                    <div class="form-group">
                        <label for=""></label>
                        <input type="text" class="form-control" name="" id="" placeholder="Input...">
                    </div>

                    

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                bs3-f
            </div>
        </div>

    {% endblock %}
    {% block javascript %}
        <script src="{{ asset('assets/jQuery-3.1.1/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
    {% endblock %}

</body>
</html>