{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to Admin page. Choose option and continue...</h1>
                <button type="button" class="btn btn-info btn-lg active"><a href="{{  path('homepage') }}">Home</a></button>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}